.about-us {
    height: 70vh;
   margin: 2rem;
   padding:2rem;
   border: 1px solid $color-5;
   border-radius: 5px;
   color: $color-5;

    &__header {
        padding: 1rem;
        display: grid;
        grid-template-columns: auto;
        &__title {
            color: $color-2;
            font-size: 2rem;
            font-weight: bold;
        }
    }
    &__container {
        &__title {
            color: $color-3;
            font-size: 1.5rem;
        }

    }

    article {
        h3 {
            color: $color-3;
            font-size: 1.7rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    
    ul {
        list-style: square;
    }
}