header {
    margin: 1rem 3rem ;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    .home-title {
        font-size: 3rem;
        margin-top: 8px;
        margin-bottom: 8px;
    
        color: $color-text-terciary;   
        font-weight: 600;
    }
    .product-search {
        
        label {
            font-size: 1.5rem;
        }
        input[type=text]{
            
            border: 2px solid $color-2;
            border-radius: 5px;
            padding: 0.5rem 1rem;
        }
        input[type=button], input[type=submit], input[type=reset] {
            background-color: $color-2;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            color:$color-text-secondary;
            text-decoration: none;
            margin: 0;
            font-size: 1.1rem;
            cursor: pointer;
        }
    }

}