.navbar {
  background-color: $color-bg-primary;

  overflow: hidden;
  
  top: 0;
  width: 100%;
  display: flex;

  justify-content: space-between;

  &__nav-link {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__logo {
    height: 7rem;
    width: 5.5rem;
    margin-left: 1rem;
  }

  &__nav-links-container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    li {
      border: none;
      border-radius: 10%;
      padding: 0.5rem;
      margin: 0.5rem;
      cursor: pointer;
      
      background-color: $color-bg-secondary;

      &:hover {
        transform: scale(105%);
      }

      a {
        display: block;
        padding: 6px;
        text-decoration: none;
        color: $color-text-secondary;
        font-size: 14px;
      }
    }

  }

  &__user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;


    figure {
      padding: 0.5rem;
      width: 3rem;
      height: 3rem;
      background-color: rgb(248, 245, 245);
      border-radius: 50%;

      i {
        text-align: center;
        color: #343535;
        font-size: 2rem;
      }
    }

    p {
      margin: 0.5rem;
      font-size: 14px;
    }
  }

  &__user-menu {
    display: flex;
    align-items: center;

    &-cart {
      font-size: 1.5rem;
      margin-right: 1rem;

      i: {
        color:$color-2;
      }
    }

  }

}