.section-cards {
    display: grid;
    gap: 8px;
    grid-template-columns: auto auto auto auto;
    margin:2rem;
    padding:0.5rem;
    
}

.card {
    margin:4px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    max-width: 20rem;
    background-color: #f4eded;
    border: 1px solid  #eccdcd;
    box-shadow: 5px 2px 4px 0 rgba(0,0,0,0);

    &__header {
        display: inline-block;
    }

    &__title{
        font-size: 1.5rem;
        font-weight: bold;
        font-weight: bold;
        color: $color-4;
    }

    &__subtitle{
        font-size: 0.9rem;
        font-weight: bold;
    }


    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    &__price {
        padding: 0 0.5rem;
        p {
            font-size: 1.2rem;
            font-weight: bold;
            color: $color-4;
        }
        span{
            font-weight: bold;
            font-size: 1.5rem;
            color: $color-2;
        }
        display:block;
    }
    
    &__img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
    }
    footer {
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
          
        }
    }
}
