.fab {
    position: fixed;
    z-index: 700;
    bottom: 7rem;
    right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

    background-color: rgb(155, 211, 71);
    border-radius: 100%;
    border:1px solid $color-5;
    height: 5rem;
    width: 5rem;

    &__link:hover {
        transform: scale(110%);
    }

    &__text {
        color: white;
        font-size: 3rem;
    }
    

}