$color-1:#C7E5EC;
$color-2:#744EC4;
$color-3:#FBAE2F;
$color-4: #D34F4F;
$color-5: #3d3d3d;

$color-bg-primary:$color-1 ;
$color-bg-secondary:$color-2;
$color-bg-terciary:$color-3;

$color-text-ligth: $color-5;

$color-text-primary:$color-5;
$color-text-secondary: $color-1;
$color-text-terciary:$color-2;
$text-lg: 1.5rem;